@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: hsl(0, 0%, 100%);
  --c-text: hsl(0, 0%, 10%);
  --text-alt: hsl(0, 0%, 45%);
  --text: #000;
  --text-alt-inverted: #a3a3a3;
  --text-inverted: #fff;
  --background-alt: #f7f7f7;
  --background: #fff;
  --background-visited: hsl(0, 0%, 98%);
  --background-alt-inverted: #444444;
  --background-inverted: #000000;
  --border: #e0e0e0;
  --avatar: #e0e0e0;
  --f-family: "Inter", sans-serif;
  --f-size: 14px;
  --f-height: 20px;
  --f-weight: 400;
  font-size: var(--f-height);
  font-family: var(--f-family);
  font-weight: var(--f-weight);
  background: var(--background);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-alt: #a3a3a3;
    --text: #efefef;
    --text-alt-inverted: #a3a3a3;
    --text-inverted: #000;
    --background-alt: #262626;
    --background: #000;
    --background-visited: hsl(0, 0%, 5%);
    --background-alt-inverted: #f7f7f7;
    --background-inverted: #fff;
    --border: #444;
    --avatar: #111;
  }
}

@media (min-width: 2000px) {
  :root {
    --f-size: 16px;
    --f-height: 24px;
  }
}

body {
  font-size: var(--f-size);
  line-height: var(--f-height);
  padding: 6rem 0 0;
}

@media (min-width: 1000px) {
  body {
    padding: 8rem 0;
  }
}
